alembic==1.8.1
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
bravado==10.4.1
bravado-core==5.17.0
brotlipy==0.7.0
Bybit==0.2.12
bybit-ws==0.1.8
certifi==2021.10.8
comtypes==1.1.10
constantly==15.1.0
cssselect==1.1.0
Flask-Login==0.6.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
fonttools==4.25.0
fqdn==1.5.1
gunicorn==20.1.0
import-ipynb==0.1.4
inflection==0.5.1
isoduration==20.11.0
jsonpointer==2.3
jsonref==0.2
llvmlite==0.38.0
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
protobuf==3.19.1
psycopg2==2.9.3
pyasn1-modules==0.2.8
pybit==2.3.0
pycosat==0.6.3
pycurl==7.44.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyreadline==2.1
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
uri-template==1.2.0
urllib3==1.24.2
virtualenv==20.16.5
webcolors==1.12
webencodings==0.5.1
websocket-client==0.53.0
websockets==10.3
win-unicode-console==0.5
wincertstore==0.2
zict==2.0.0
