{% extends "base.html" %} {% block title %}Landing page{%endblock%}
{% block body %}
    <div class="banner">
        <div class="banner-text">
           <h1>Earncryptoz Signals</h1>
           <br>
           <p>Most People Trade With Fear And They Lose All Their Money...</p>
           <p><span>Earncryptoz</span> Provides Them With <span>Trade Signals</span> And Step By Step guide so they can they can survive in the Financial market, <span>grow</span> their capital and make <span>huge profits</span>.</p>
           <button><a href="">Connect with us...</a></button>
        </div> 
        <div class="banner-img">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/positive-trade-3659570-3049680@0.png" alt="trading candle">
        </div>
    </div>
    <style>
        body{
            background-color: white;
        }
    </style>
{% endblock %}